:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #df6442;

  --text-secondary-color: #5B5B5e;
  --white-color: white;
  --text-color : black;
  --separator-color: #D4D6E0; 
}

bode {
  font-family: 'Open Sans', sans-serif;
}